<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation" >
	 <div class="alert alert-danger" role="alert">
      <h2><%= pluralize(post.errors.count, "エラー") %> でたから:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
	 </div>
    </div>
  <% end %>

  <div class="field post">
    <%= form.label :content %>
    <%= form.text_area :content, id: :post_content %>
  </div>

  <div class="actions">
    <%= form.submit "post", class: 'btn btn-success' %>
  </div>
<% end %>
