<p id="notice"><%= notice %></p>

<h1>投稿っす</h1>
<%= paginate @posts %>

      <thead>
        <tr>
          <th colspan="3"></th>
        </tr>
      </thead>

      <div class="row">
          <% @posts.each do |post| %>
            <div class="col-md-6 col-xs-12">
            <table class="lists">
                <tr><%= post.content %></tr>
                <td><button type="button" class="btn btn-info"><%= link_to 'くわしく', post %></button></td>
                <td><button type="button" class="btn btn-warning"><%= link_to 'かきかえ', edit_post_path(post) %></button></td>
                <td><button type="button" class="btn btn-danger"><%= link_to 'けす', post, method: :delete, data: { confirm: 'マジかよ...？' } %></button></td>
            </table>
          </div>
          <% end %>
      </div>

<br>

<button type="button" class="btn btn-primary"><%= link_to 'あたらしいやつ', new_post_path %></button>
<!-- ここまででとりあえず完成 -->
<!-- 以下からransack実装テスト -->

<%= search_form_for @search do |f| %>
  <div class="form-group">
    <%= f.label :content_cont, "Content" %>
    <%= f.text_field :content_cont, class: "form-control" %>
  </div>
  <div class="actions"><%= f.submit "Search" %></div>
<% end %>
<p class="attn">なんも いれないで 検索 したら 全部 でます</p>

<% if @results.present? %>
  <%= render partial: "post", locals: { results: @results} %>
<% end %>
